<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
        	<typeAlias type="com.practice.model.Team" alias="Team"/>
        	<typeAlias type="com.practice.model.Profile" alias="Profile"/>
        	<typeAlias type="com.practice.model.Account" alias="Account"/>
        	<typeAlias type="com.practice.model.History" alias="History"/>
        </typeAliases>
        <typeHandlers>
        </typeHandlers>
        <mappers>
        	<mapper resource="xmlmapper/TeamMapper.xml"/>
        	<mapper resource="xmlmapper/ProfileMapper.xml"/>
        	<mapper resource="xmlmapper/AccountMapper.xml"/>
        	<mapper resource="xmlmapper/HistoryMapper.xml"/>
        </mappers>
</configuration>